@import url("./styles/reset.css");
@import url("./styles/variables.css");
@import url("./styles/animations.css");
@import url("./styles/lib.css");

/* BASE */
:root {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  position: relative;
  min-height: 100dvh;
  background-color: hsl(var(--clr-lighter));
}
body > * {
  display: flow-root;
}
body > header {
  h1 {
    padding: 1rem;
    width: fit-content;
    @media (width > 40rem) {
      padding: 1rem 4rem;
    }
  }
}
body > main {
  margin: 0 auto;
  & > section {
    margin: 0 auto;
    width: min(80rem, 100% - 1rem);
  }
}

/* CMPS */
canvas {
  background-color: black;
}

aside {
  margin-block: 1rem;
  padding: 1rem;
  @media (width > 40rem) {
    grid-template-columns: 3fr 1fr;
  }

  select, .bt {
    padding: 1rem;
    width: 100%;
    font-weight: bold;
  }
  select option {
    text-align: center;
  }
  .bt {
    @media (width > 40rem) {
      grid-area: 1/2/2/3;
    }
  }
}
